/*unclean*/
.wpcom-masterbar
{
	background: #444;
	box-shadow: 0px -2px rgba(240, 240, 240, 0.6) inset;
	color: white;
	font-size: 0.9em;
	height: 46px;
	left: 0;
	position: fixed;
	top: 0;
	webkit-font-smoothing: subpixel-antialiased;
	width: 100%;
	z-index: 9998;
}
.wpcom-masterbar li a
{
	color: white;
	text-decoration: none;
}
.wpcom-masterbar .active
{
	background: #999;
	box-shadow: inset 0 -2px rgba(0, 0, 0, 0.4);
}
.wpcom-masterbar .wpcom-navigation
{
	padding: 0 10px;
}
.wpcom-masterbar .wpcom-title
{
	display: none;
}
.wpcom-masterbar ul
{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.wpcom-masterbar ul li
{
	float: left;
}
.wpcom-masterbar ul li a
{
	display: block;
	height: 46px;
	line-height: 46px;
	margin: 0;
	outline: 0;
	padding: 0 10px;
	transition: background 100ms ease-in-out, color 80ms ease-in-out;
}
.wpcom-masterbar .user-actions
{
	float: right;
}
.wpcom-masterbar .user-actions .post a
{
	overflow: hidden;
	padding: 0 11px 0 10px;
	position: relative;
	width: 27px;
}
.wpcom-masterbar .user-actions .post a:before
{
	content: "\f411";
	display: inline-block;
	font-family: "Noticons";
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.4;
	line-height: 1;
	moz-osx-font-smoothing: grayscale;
	moz-transition: color 0.1s ease-in 0;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
	webkit-font-smoothing: antialiased;
	webkit-transition: color 0.1s ease-in 0;
}
.wpcom-masterbar .user-actions .post a:after
{
	color: #78dcfa;
	content: "\f8b3";
	display: inline-block;
	font-family: "Noticons";
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	left: 10px;
	line-height: 1;
	moz-osx-font-smoothing: grayscale;
	moz-transition: color 0.1s ease-in 0;
	position: absolute;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	top: 4px;
	vertical-align: top;
	webkit-font-smoothing: antialiased;
	webkit-transition: color 0.1s ease-in 0;
}
.wpcom-masterbar .user-actions .notifications a
{
	overflow: hidden;
	padding: 0 13px 0 7px;
	position: relative;
	width: 27px;
}
.wpcom-masterbar .user-actions .notifications a:before
{
	content: "\f800";
	display: inline-block;
	font-family: "Noticons";
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.4;
	line-height: 1;
	moz-osx-font-smoothing: grayscale;
	moz-transition: color 0.1s ease-in 0;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
	webkit-font-smoothing: antialiased;
	webkit-transition: color 0.1s ease-in 0;
}
.wpcom-masterbar .user-actions .notifications a:before
{
	line-height: 1.3;
}
.wpcom-masterbar .user-actions .user-account
{
	height: 46px;
	text-align: center;
	width: 48px;
}
.wpcom-masterbar .user-actions .user-account img.avatar
{
	border: 1px solid #e8f0f5;
	margin: 0;
	position: relative;
	top: 8px;
	width: 26px;
}
.wpcom-masterbar .sub-menu
{
	background: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), 0 3px 8px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	display: none;
	float: none;
	line-height: 46px;
	min-width: 220px;
	overflow: visible;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 44px;
	width: auto;
	z-index: 1;
}
.wpcom-masterbar .sub-menu:after
{
	border: 6px solid transparent;
	border-bottom-color: white;
	content: ' ';
	height: 0;
	left: 8px;
	position: absolute;
	top: -12px;
	width: 0;
}
.wpcom-masterbar .sub-menu li
{
	display: block;
	float: none;
}
.wpcom-masterbar .sub-menu li a,
.wpcom-masterbar .sub-menu li a.selected
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: #0085be;
	display: block;
	float: none;
	height: auto;
	margin: 0;
	padding: 0 14px;
	text-align: left;
}
.wpcom-masterbar .sub-menu li a:hover,
.wpcom-masterbar .sub-menu li a.selected:hover
{
	background: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: none;
	color: #999;
}
.wpcom-masterbar .sub-menu li a.selected
{
	color: #999;
}
.wpcom-masterbar .sub-menu li:last-child a
{
	border-bottom: none;
}
@media only screen and (max-width:480px)
{
	.wpcom-masterbar .sub-menu
	{
		right: 10px;
	}
}
.wpcom-masterbar .sub-menu img
{
	left: -4px;
	position: relative;
	top: 9px;
}
.wpcom-masterbar .sub-menu:after
{
	left: auto;
	right: 8px;
}
.wpcom-masterbar.wpcom-forums .current a
{
	background: rgba(255, 255, 255, 0.2);
}
.touch .wpcom-masterbar
{
	position: absolute;
}
html:not(.touch) .wpcom-masterbar .menu-toggle:hover,
.wpcom-masterbar li a:hover,
html:not(.touch) .wpcom-masterbar li.user-account:hover,
.wpcom-masterbar .menu-toggle.tapped,
.wpcom-masterbar li.user-account.tapped
{
	background: #999;
	box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
	color: white;
	cursor: pointer;
}
html:not(.touch) .wpcom-masterbar li:hover .dropdown,
.wpcom-masterbar li.tapped .dropdown
{
	display: block;
}
.wpcom-masterbar.logged-in
{
	margin-top: 32px;
}
@media only screen and (max-width:660px)
{
	.wpcom-masterbar.logged-in
	{
		margin-top: 46px;
		position: absolute;
	}
}
.menu-toggle
{
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 14px;
	font-weight: 400;
	left: 0;
	line-height: 46px;
	margin: 0;
	padding: 0 10px;
	position: absolute;
	top: 0;
	vertical-align: top;
}
.menu-toggle:after
{
	content: '\f431';
	display: inline-block;
	font: normal 16px/1 "Noticons";
	font-weight: 400;
	margin: -4px -2px 0 2px;
	moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
	webkit-font-smoothing: antialiased;
}
@media only screen and (max-width:480px)
{
	.menu-toggle
	{
		display: block;
	}
}
.stats-notice
{
	background: white;
	border-radius: 2px;
	color: #005082;
	float: left;
	font-size: 13px;
	left: 12px;
	padding: 2px 35px 2px 9px;
	position: relative;
	top: 11px;
}
.stats-notice:after
{
	border: 6px solid transparent;
	border-right-color: white;
	content: ' ';
	height: 0;
	left: -12px;
	position: absolute;
	top: 5px;
	width: 0;
}
.stats-notice .noticon
{
	background: #e8f0f5;
	border-radius: 2px;
	color: #324155;
	font-size: 21px;
	padding: 2px 2px 0 2px;
	position: absolute;
	right: 0px;
	top: 0px;
}
@media only screen and (max-width:480px)
{
	html:not(.touch) .wpcom-sections:hover .sections-menu, .wpcom-sections.tapped .sections-menu
	{
		display: block;
	}
	.wpcom-sections li.active
	{
		background: white;
		box-shadow: none;
	}
	.wpcom-sections li.active a
	{
		font-weight: bold;
	}
}
body.logged-in .wpcom-header #menu-dash-newpost-tagged,
body.logged-in .wpcom-header #wp-admin-bar-notes a:before
{
	display: none;
}
body.logged-in .wpcom-header #menu-dash-newpost-tagged.visible
{
	display: block;
}
body.logged-in .wpcom-header #wp-admin-bar-notes #wpnt-notes-unread-count.wpn-unread
{
	background: #f1831e !important;
	box-shadow: inset 0 -1px 0 rgba(0, 86, 132, 0.3);
	moz-box-shadow: inset 0 -1px 0 rgba(0, 86, 132, 0.3);
	text-shadow: none;
	webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
body.logged-in .wpcom-header #wp-admin-bar-notes #wpnt-notes-unread-count
{
	border-radius: 0;
	height: auto;
	left: 0;
	margin: 0;
	padding: 0 !important;
	position: absolute;
	right: 0;
	text-align: center;
}
body.logged-in #wp-admin-bar-notes:hover #wpnt-notes-unread-count.wpn-read span
{
	color: white !important;
}
body.logged-in .wpcom-masterbar #wp-admin-bar-notes .noticon
{
	font-size: 32px;
	height: 46px;
	line-height: 40px;
}
body.logged-in .wpcom-header #wp-admin-bar-notes .noticon-star
{
	line-height: 43px;
}
.wpcom-header.hi-five-header
{
	font-size: 0.5625rem;
}
.wpcom-header.hi-five-header ul.pages-menu
{
	font-size: 15px;
	font-weight: normal;
}
.wpcom-header.hi-five-header .wpcom-title
{
	font-weight: normal;
}
.wpcom-header.hi-five-header .wpcom-title span
{
	vertical-align: top;
}
.subscriptions-manage-header.wpcom-header.hi-five-header .wpcom-title span
{
	font-size: 1.5em;
}
.wpcom-nav .wpcom-title
{
	display: inline;
	float: left;
}
@media only screen and (max-width:480px)
{
	.wpcom-nav .wpcom-title
	{
		margin-left: 10px;
	}
}
.wpcom-nav .wpcom-title a
{
	color: #fff;
	font-size: 0.95em;
	font-weight: 100;
}
.wpcom-nav .wpcom-title a:before
{
	color: white;
}
.wpcom-nav .wpcom-title span
{
	line-height: 46px;
}
.wpcom-nav .wpcom-pages
{
	float: right;
}
@media only screen and (max-width:660px)
{
	.wpcom-nav .wpcom-pages .pages-menu
	{
		display: none;
	}
}
.wpcom-nav .menu-toggle
{
	left: auto;
	right: 0;
}
@media only screen and (max-width:660px)
{
	.wpcom-nav .menu-toggle
	{
		display: block;
	}
}
@media only screen and (max-width:660px)
{
	.wpcom-nav .wpcom-pages:hover .pages-menu, .wpcom-nav .wpcom-pages:focus .pages-menu
	{
		background: white;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), 0 3px 8px rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		display: block;
		display: none;
		float: none;
		line-height: 46px;
		min-width: 220px;
		overflow: visible;
		padding: 0;
		position: absolute;
		right: 10px;
		top: 44px;
		width: auto;
		z-index: 1;
	}
	.wpcom-nav .wpcom-pages:hover .pages-menu:after, .wpcom-nav .wpcom-pages:focus .pages-menu:after
	{
		border: 6px solid transparent;
		border-bottom-color: white;
		content: ' ';
		height: 0;
		left: 8px;
		position: absolute;
		top: -12px;
		width: 0;
	}
	.wpcom-nav .wpcom-pages:hover .pages-menu li, .wpcom-nav .wpcom-pages:focus .pages-menu li
	{
		display: block;
		float: none;
	}
	.wpcom-nav .wpcom-pages:hover .pages-menu li a, .wpcom-nav .wpcom-pages:hover .pages-menu li a.selected, .wpcom-nav .wpcom-pages:focus .pages-menu li a, .wpcom-nav .wpcom-pages:focus .pages-menu li a.selected
	{
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		color: #0085be;
		display: block;
		float: none;
		height: auto;
		margin: 0;
		padding: 0 14px;
		text-align: left;
	}
	.wpcom-nav .wpcom-pages:hover .pages-menu li a:hover, .wpcom-nav .wpcom-pages:hover .pages-menu li a.selected:hover, .wpcom-nav .wpcom-pages:focus .pages-menu li a:hover, .wpcom-nav .wpcom-pages:focus .pages-menu li a.selected:hover
	{
		background: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: none;
		color: #33bbe3;
	}
	.wpcom-nav .wpcom-pages:hover .pages-menu li a.selected, .wpcom-nav .wpcom-pages:focus .pages-menu li a.selected
	{
		color: #324155;
	}
	.wpcom-nav .wpcom-pages:hover .pages-menu li:last-child a, .wpcom-nav .wpcom-pages:focus .pages-menu li:last-child a
	{
		border-bottom: none;
	}
	.wpcom-nav .wpcom-pages:hover .pages-menu:after, .wpcom-nav .wpcom-pages:focus .pages-menu:after
	{
		left: auto;
		right: 26px;
	}
	.wpcom-nav li.active
	{
		background: white;
		box-shadow: none;
	}
	.wpcom-nav li.active a
	{
		font-weight: bold;
	}
}